.background {
  margin:0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  width: 500px;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.619);
}

#author {
  text-align: right;
}

p {
  font-size: 1.125rem;
}

button, a {
  border-radius: 10px;
  border: 1px soid transparent;
  padding: 0.8em 1.2em;
  width: fit-content;
  font-weight: 400;
  background: #1a1a1a;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  color: white;
}